<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <a href='/'>Dashboard</a>
</header>
<div id="designer"></div>
<script>
	window.onload = function () {
		const expo = "<%= expo %>";
		const scope = "<%= SCOPE %>";
		const signature = "<%= signature %>";

		const iframe = document.createElement("iframe");
		iframe.src = `https://white-label.herokuapp.com/designer?expo=${expo}&scope=${scope}&signature=${signature}`;
		iframe.allowFullscreen = true;

		document.getElementById("designer").append(iframe);
	}
</script>
</body>
</html>
