<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title><%=expo%> Dashboard</title>
</head>
<body>
<%- include("../header.html") %>

    <div class="dashboard-info">
        <h2>Your service Dashboard - <%=expo%></h2>
        <p>This page as well as the menu is an example of organizers’s Dashboard to use your service</p>
    </div>
</body>
</html>
