<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<%- include("../header.html") %>

    <div class="dashboard-info">
        <h2>Hello there is your <%=expo%></h2>
        <p>If you want to plan your event, you've come to the right place.
            Our Designer tool is perfect for creating plans and detailed visualizations of your event.
            Once you've created your plan, you can make it interactive and add information about booths and exhibitors by sending a data.js file to the link provided.
            And when you're ready to see your plan in action, just go to the View page. Thank you for choosing us to plan your events!</p>
    </div>
</body>
</html>
